MQTT_HOST = "192.168.1.10"
MQTT_TOPIC_PREFIX = "garagedoor/door-up"
MQTT_TOPIC_PREFIX2 = "garagedoor/door-down"
MQTT_TOPIC_PREFIX_ALARM = "lcd/alarm"
MQTT_TOPIC_PREFIX_GARAGE = "lcd/garagedoor"
MQTT_TOPIC_PREFIX_GARAGE = "lcd/home"
username = "homeassistant"
password = "mqttpassword"
pinup = 4
pindown = 17
url = "http://192.168.1.10:8123/api/states/group.people"
urlAlarm = "http://192.168.1.10:8123/api/states/alarm_control_panel.alarm_control_panel"
urlGarageDoor = "http://192.168.1.10:8123/api/states/binary_sensor.garage_door_contact"
headers = {
  "Authorization": "Bearer randomkey",
  "content-type": "application/json",
}